@model ModuleManager.Web.ViewModels.StudiegidsViewModel

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li class="active">LessenTabel</li>
</ol>

<div class="pull-right">
    <a class="btn btn-default" href="@Url.Action("Index", "Home")">Terug</a>
    @*<a class="btn btn-success" href="@Url.Action("GetLeerlijnenExport","StudieGids")"><i class="fa fa-download"></i> Leerlijnen</a>
    <a class="btn btn-success" href="@Url.Action("GetCompetentiesExport", "StudieGids")"><i class="fa fa-download"></i> Competenties</a>
    <a class="btn btn-success" href="@Url.Action("GetLessentabelExport","StudieGids")"><i class="fa fa-download"></i> Lessentabel</a>*@
</div>

@foreach (var opleidingsfase in Model.Opleidingsfasen)
{
    <h1>@opleidingsfase.FaseType - @opleidingsfase.FaseNaam</h1>

    foreach (var tabel in opleidingsfase.Tabellen)
    {
        <h3>Blok @tabel.Blok (@(tabel.Semester)e Semester)</h3>
        <table class="table table-bordered table-condensed">
            <thead>
                <tr style="background: #DA0046; color: #FFFFFF;"><!-- style="background: #FDF4EA -->
                    <td>Onderdeel</td><td>Cursus</td><td>Omschrijving</td><td>CU</td><td>WV</td><td>Toetscode</td><td>Toetsvorm</td><td>EC</td><td>Min</td>
                </tr>
            </thead>
            <tbody>
                @for (int oIx = 0; oIx < tabel.Onderdelen.Count; oIx++)
                {
                    var onderdeelSpan = tabel.Onderdelen[oIx].Modules.SelectMany(m => m.Studiepunten.DefaultIfEmpty(new ModuleManager.Domain.StudiePunt())).Count();
                    for (int mIx = 0; mIx < tabel.Onderdelen[oIx].Modules.Count; mIx++)
                    {
                        if (tabel.Onderdelen[oIx].Modules[mIx].Studiepunten.Count == 0)
                        {
                            @TableRow(tabel, onderdeelSpan, oIx, mIx)
                        }
                        for (int sbIx = 0; sbIx < tabel.Onderdelen[oIx].Modules[mIx].Studiepunten.Count; sbIx++)
                        {
                            @TableRow(tabel, onderdeelSpan, oIx, mIx, sbIx)
                        }
                    }
                }
                <tr style="background: #CDEBF0;">
                    <td colspan="2"></td>
                    <th>Totaal</th>
                    <th>@tabel.TotaleContactUren</th>
                    <td colspan="2"></td>
                    <th>Totaal</th>
                    <th>@tabel.TotaleEcs</th>
                    <td></td>
                </tr>
            </tbody>
        </table><br />
    }
}
<!-- Help MODAL -->
@Html.Partial("~/Views/Help/StudieGids.cshtml", null)

@helper TableRow(ModuleManager.Web.ViewModels.PartialViewModel.LesTabelViewModel tabel, int onderdeelSpan, int oIx, int mIx, int? sbIx = null)
{
    var module = tabel.Onderdelen[oIx].Modules[mIx];
    var studiepunt = sbIx.HasValue ? module.Studiepunten[sbIx.Value] : new ModuleManager.Domain.StudiePunt();

    <tr style="background : @(oIx % 2 == 0 ? "" : "#FDF4EA")">
        @if (mIx == 0 && (!sbIx.HasValue || sbIx.Value == 0))
        {
            <td rowspan="@onderdeelSpan">@tabel.Onderdelen[oIx].Onderdeel</td>
        }
        @if (!sbIx.HasValue || sbIx.Value == 0)
        {
            <td rowspan="@(module.Studiepunten.Count)">IIIN-@module.Cursuscode</td>
                                    <td rowspan="@(module.Studiepunten.Count)">@module.Omschrijving</td>
                                    <td rowspan="@(module.Studiepunten.Count)">@String.Join("+", module.Contacturen)</td>
                                    <td rowspan="@(module.Studiepunten.Count)">@String.Join("+", module.Werkvormen)</td>
        }

        <td>@studiepunt.ToetsCode</td>
        <td>@studiepunt.Toetsvorm</td>
        <td>@studiepunt.EC</td>
        <td>@studiepunt.Minimum</td>
    </tr>
}