@model ModuleManager.Web.ViewModels.AdminArchiverenViewModel 
        
<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li><a href="@Url.Action("Index", "Admin")">Beheer</a></li>
    <li class="active">Archiveren</li>
</ol>
<h2>Archiveren</h2>
<div>
    @using (Html.BeginForm())
            {
                if (ViewBag.Message != null)
                {
            <div class="alert alert-warning">
                @ViewBag.Message
            </div>
        }
        <div class="form-group">
            @Html.LabelFor(m => m.BevestigingsCode)
            @Html.TextBoxFor(m => m.BevestigingsCode, new { @class = "form-control", placeholder = "ARCHIVEREN", id = "confirm" })
        </div>
        <div class="form-group">
            @{
                for (int i = 0; i < Model.Cohorten.Length; i++)
                {
                    @Html.HiddenFor(model => Model.Cohorten[i])
                }
                var cohorten = Model.Cohorten.Select(c => new SelectListItem() { Text = c.ToString(), Value = c.ToString(), Selected = c == Model.TeArchiverenCohort });
            }
            @Html.LabelFor(m => m.TeArchiverenCohort)
            @Html.DropDownListFor(m => m.TeArchiverenCohort, cohorten, new { @class = "form-control" })
        </div>
        <div class="checkbox">
            @Html.CheckBoxFor(m => m.CopyCohort, new { style = "margin-left: 0px;", id="btn_copyCohort" })
            @Html.LabelFor(m => m.CopyCohort)
        </div>
        <div>
            @Html.LabelFor(m => m.CopyToCohort)
            @Html.TextBoxFor(m => m.CopyToCohort, new { @class = "form-control txt_ToCohort" })
        </div>
        <button id="archiveBtn" type="submit" class="btn btn-danger">Archiveren</button>
        <a href="@Url.Action("Index", "Admin")" class="btn btn-default">Annuleren</a>
    }
</div>
<!-- Help MODAL-->
@Html.Partial("~/Views/Help/Archive.cshtml", null)

<!-- JAVA MEUK -->
@section Scripts {
    <script>
        $(function () {
            checkArchiveButton();
            $("#confirm").on("input", function () {
                checkArchiveButton()
            });

            $("#btn_copyCohort").on("click", function () {
                $(".txt_ToCohort").attr('disabled', this.checked ? null : 'disabled');
            });

            function checkArchiveButton() {
                if ($("#confirm").val() == "ARCHIVEREN") {
                    if ($("#archiveBtn").hasClass("disabled")) {
                        $("#archiveBtn").removeClass("disabled");
                    }
                } else {
                    if (!$("#archiveBtn").hasClass("disabled")) {
                        $("#archiveBtn").addClass("disabled");
                    }
                }
            }
        });
    </script>
}