<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li class="active">Beheer</li>
</ol>
@if (ViewBag.Messages != null)
{
    <div class="alert alert-@ViewBag.MessageStatus">
        <ul>
            @foreach (var message in ViewBag.Messages)
            {
                <li>@message</li>
            }
        </ul>
    </div>
}
<h2>Beheer</h2>

<h3>Curriculum</h3>
<div class="row">
    <div class="col-md-3 category">
        <a class="btn btn-lg btn-primary btn-block" href="@Url.Action("Curriculum", "Admin")">
            <i class="fa fa-cogs"></i> Beheer Curriculum
        </a>
    </div>

    <div class="col-md-3 category">
        <a class="btn btn-lg btn-warning btn-block" href="@Url.Action("Archive", "Admin")">
            <i class="fa fa-archive"></i> Archiveren
        </a>
    </div>
</div>

<h3>Gebruikers</h3>
<div class="row">
    <div class="col-md-3 category">
        <a class="btn btn-lg btn-primary btn-block" href="@Url.Action("UserOverview", "Admin")">
            <i class="fa fa-cogs"></i> Beheer Gebruikers
        </a>
    </div>
</div>

<h3>Modules</h3>

<div class="row">
    <div class="col-md-3 category">
        <a class="btn btn-lg btn-success btn-block" href="@Url.Action("CheckModules", "Admin")">
            <i class="fa fa-cog"></i> Controle
        </a>
    </div>
</div>

<!-- Help MODAL-->
@Html.Partial("~/Views/Help/Admin.cshtml", null)